# Pandas Tutorial (Day - 11)
This notebook explains ...

In [54]:
# pip install pandas
# pip install numpy

- Import Libraries

In [55]:
import pandas as pd
import numpy as np

In [56]:
# Object Creation
s = pd.Series([1, 3, np.nan, 5, 7, 8, 9])
s

0    1.0
1    3.0
2    NaN
3    5.0
4    7.0
5    8.0
6    9.0
dtype: float64

In [57]:
dates = pd.date_range("20220101", periods=20)
dates

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10', '2022-01-11', '2022-01-12',
               '2022-01-13', '2022-01-14', '2022-01-15', '2022-01-16',
               '2022-01-17', '2022-01-18', '2022-01-19', '2022-01-20'],
              dtype='datetime64[ns]', freq='D')

In [58]:
df = pd.DataFrame(np.random.randn(20, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2022-01-01  1.042096 -0.101028 -0.579710 -0.984451
2022-01-02 -0.433050 -0.745328  0.521739  0.843312
2022-01-03 -0.734141  0.932339  0.914895 -1.288341
2022-01-04  1.049007  0.827878 -2.760588  0.368561
2022-01-05 -0.191731 -0.295541 -1.287527 -0.667248
2022-01-06 -0.663459  0.200306 -2.723196 -0.667091
2022-01-07  0.502609 -0.136859  1.298028 -1.546729
2022-01-08  0.835971 -0.296592  1.404408  1.528245
2022-01-09 -0.410971 -1.291437 -0.942427  0.854749
2022-01-10 -0.803374 -0.669092 -0.274283  0.398559
2022-01-11  1.475182  0.929793 -0.477563 -0.180176
2022-01-12  0.780286  0.472707  0.273360 -0.532276
2022-01-13 -0.353512  0.587906  0.747969  0.718716
2022-01-14 -0.136288  0.006912  0.221477  0.522136
2022-01-15  0.812108  2.197774  0.119174  0.378797
2022-01-16 -1.235888  0.014193  1.512980 -0.256699
2022-01-17 -0.921822  0.079119  1.823622  0.892502
2022-01-18  0.760641 -0.120394  0.330095  0.424604
2022-01-19  0.846210 -1.198722 -0.256602 -0.631103
2022-01-20  2.537083 -0.203373 -1.071375  0.441425

In [59]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20220806"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": pd.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["girl", "women", "girl", "woman"]),
        "F": "females",
    }
)
df2
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [60]:
df.head(2)

                   A         B         C         D
2022-01-01  1.042096 -0.101028 -0.579710 -0.984451
2022-01-02 -0.433050 -0.745328  0.521739  0.843312

In [61]:
df.tail(2)

                   A         B         C         D
2022-01-19  0.846210 -1.198722 -0.256602 -0.631103
2022-01-20  2.537083 -0.203373 -1.071375  0.441425

In [62]:
df2.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [63]:
df

                   A         B         C         D
2022-01-01  1.042096 -0.101028 -0.579710 -0.984451
2022-01-02 -0.433050 -0.745328  0.521739  0.843312
2022-01-03 -0.734141  0.932339  0.914895 -1.288341
2022-01-04  1.049007  0.827878 -2.760588  0.368561
2022-01-05 -0.191731 -0.295541 -1.287527 -0.667248
2022-01-06 -0.663459  0.200306 -2.723196 -0.667091
2022-01-07  0.502609 -0.136859  1.298028 -1.546729
2022-01-08  0.835971 -0.296592  1.404408  1.528245
2022-01-09 -0.410971 -1.291437 -0.942427  0.854749
2022-01-10 -0.803374 -0.669092 -0.274283  0.398559
2022-01-11  1.475182  0.929793 -0.477563 -0.180176
2022-01-12  0.780286  0.472707  0.273360 -0.532276
2022-01-13 -0.353512  0.587906  0.747969  0.718716
2022-01-14 -0.136288  0.006912  0.221477  0.522136
2022-01-15  0.812108  2.197774  0.119174  0.378797
2022-01-16 -1.235888  0.014193  1.512980 -0.256699
2022-01-17 -0.921822  0.079119  1.823622  0.892502
2022-01-18  0.760641 -0.120394  0.330095  0.424604
2022-01-19  0.846210 -1.198722 -0.256602 -0.631103
2022-01-20  2.537083 -0.203373 -1.071375  0.441425

In [64]:
df.to_numpy()

array([[ 1.04209629, -0.10102834, -0.57970992, -0.98445074],
       [-0.43305038, -0.74532766,  0.52173861,  0.84331183],
       [-0.734141  ,  0.93233921,  0.9148953 , -1.28834141],
       [ 1.04900749,  0.82787782, -2.76058765,  0.36856143],
       [-0.19173078, -0.29554139, -1.28752727, -0.66724839],
       [-0.66345936,  0.20030587, -2.72319642, -0.667091  ],
       [ 0.50260894, -0.13685947,  1.2980279 , -1.54672887],
       [ 0.83597065, -0.29659162,  1.40440776,  1.5282447 ],
       [-0.41097065, -1.29143737, -0.94242723,  0.85474931],
       [-0.80337367, -0.66909189, -0.27428295,  0.39855899],
       [ 1.47518159,  0.92979349, -0.47756271, -0.18017553],
       [ 0.78028646,  0.4727071 ,  0.27335963, -0.53227645],
       [-0.35351225,  0.58790569,  0.74796947,  0.71871582],
       [-0.13628815,  0.00691209,  0.22147675,  0.52213617],
       [ 0.8121075 ,  2.19777438,  0.1191737 ,  0.37879676],
       [-1.23588761,  0.01419295,  1.51297984, -0.25669881],
       [-0.92182214,  0.07911941,  1.82362162,  0.89250201],
       [ 0.76064115, -0.12039401,  0.33009487,  0.42460389],
       [ 0.8462102 , -1.19872163, -0.25660152, -0.63110292],
       [ 2.53708302, -0.20337275, -1.07137524,  0.44142523]])

In [65]:
df2.to_numpy()

array([[1.0, Timestamp('2022-08-06 00:00:00'), 1.0, 3, 'girl', 'females'],
       [1.0, Timestamp('2022-08-06 00:00:00'), 1.0, 3, 'women',
        'females'],
       [1.0, Timestamp('2022-08-06 00:00:00'), 1.0, 3, 'girl', 'females'],
       [1.0, Timestamp('2022-08-06 00:00:00'), 1.0, 3, 'woman',
        'females']], dtype=object)

In [66]:
df.describe

<bound method NDFrame.describe of                    A         B         C         D
2022-01-01  1.042096 -0.101028 -0.579710 -0.984451
2022-01-02 -0.433050 -0.745328  0.521739  0.843312
2022-01-03 -0.734141  0.932339  0.914895 -1.288341
2022-01-04  1.049007  0.827878 -2.760588  0.368561
2022-01-05 -0.191731 -0.295541 -1.287527 -0.667248
2022-01-06 -0.663459  0.200306 -2.723196 -0.667091
2022-01-07  0.502609 -0.136859  1.298028 -1.546729
2022-01-08  0.835971 -0.296592  1.404408  1.528245
2022-01-09 -0.410971 -1.291437 -0.942427  0.854749
2022-01-10 -0.803374 -0.669092 -0.274283  0.398559
2022-01-11  1.475182  0.929793 -0.477563 -0.180176
2022-01-12  0.780286  0.472707  0.273360 -0.532276
2022-01-13 -0.353512  0.587906  0.747969  0.718716
2022-01-14 -0.136288  0.006912  0.221477  0.522136
2022-01-15  0.812108  2.197774  0.119174  0.378797
2022-01-16 -1.235888  0.014193  1.512980 -0.256699
2022-01-17 -0.921822  0.079119  1.823622  0.892502
2022-01-18  0.760641 -0.120394  0.330095  0.424604
2022-01-19  0.846210 -1.198722 -0.256602 -0.631103
2022-01-20  2.537083 -0.203373 -1.071375  0.441425>

In [67]:
df.describe()

               A          B          C          D
count  20.000000  20.000000  20.000000  20.000000
mean    0.237848   0.059528  -0.060276   0.030875
std     0.965751   0.800074   1.268038   0.822347
min    -1.235888  -1.291437  -2.760588  -1.546729
25%    -0.490653  -0.295804  -0.670389  -0.640100
50%     0.183160  -0.047058   0.170325   0.373679
75%     0.838531   0.501507   0.789701   0.571281
max     2.537083   2.197774   1.823622   1.528245

# Transpose Data (Turnig Rows in Columns and Column into Rows)

In [68]:
df2.T

,0,1,2,3
A,1.0,1.0,1.0,1.0
B,2022-08-06 00:00:00,2022-08-06 00:00:00,2022-08-06 00:00:00,2022-08-06 00:00:00
C,1.0,1.0,1.0,1.0
D,3,3,3,3
E,girl,women,girl,woman
F,females,females,females,females

In [69]:
df

                   A         B         C         D
2022-01-01  1.042096 -0.101028 -0.579710 -0.984451
2022-01-02 -0.433050 -0.745328  0.521739  0.843312
2022-01-03 -0.734141  0.932339  0.914895 -1.288341
2022-01-04  1.049007  0.827878 -2.760588  0.368561
2022-01-05 -0.191731 -0.295541 -1.287527 -0.667248
2022-01-06 -0.663459  0.200306 -2.723196 -0.667091
2022-01-07  0.502609 -0.136859  1.298028 -1.546729
2022-01-08  0.835971 -0.296592  1.404408  1.528245
2022-01-09 -0.410971 -1.291437 -0.942427  0.854749
2022-01-10 -0.803374 -0.669092 -0.274283  0.398559
2022-01-11  1.475182  0.929793 -0.477563 -0.180176
2022-01-12  0.780286  0.472707  0.273360 -0.532276
2022-01-13 -0.353512  0.587906  0.747969  0.718716
2022-01-14 -0.136288  0.006912  0.221477  0.522136
2022-01-15  0.812108  2.197774  0.119174  0.378797
2022-01-16 -1.235888  0.014193  1.512980 -0.256699
2022-01-17 -0.921822  0.079119  1.823622  0.892502
2022-01-18  0.760641 -0.120394  0.330095  0.424604
2022-01-19  0.846210 -1.198722 -0.256602 -0.631103
2022-01-20  2.537083 -0.203373 -1.071375  0.441425

 
- axis = 1 means function is applied row-wise
- axis = 0 means function in applied column-wise

In [74]:
df.sort_index(axis=0, ascending=True)

                   A         B         C         D
2022-01-01  1.042096 -0.101028 -0.579710 -0.984451
2022-01-02 -0.433050 -0.745328  0.521739  0.843312
2022-01-03 -0.734141  0.932339  0.914895 -1.288341
2022-01-04  1.049007  0.827878 -2.760588  0.368561
2022-01-05 -0.191731 -0.295541 -1.287527 -0.667248
2022-01-06 -0.663459  0.200306 -2.723196 -0.667091
2022-01-07  0.502609 -0.136859  1.298028 -1.546729
2022-01-08  0.835971 -0.296592  1.404408  1.528245
2022-01-09 -0.410971 -1.291437 -0.942427  0.854749
2022-01-10 -0.803374 -0.669092 -0.274283  0.398559
2022-01-11  1.475182  0.929793 -0.477563 -0.180176
2022-01-12  0.780286  0.472707  0.273360 -0.532276
2022-01-13 -0.353512  0.587906  0.747969  0.718716
2022-01-14 -0.136288  0.006912  0.221477  0.522136
2022-01-15  0.812108  2.197774  0.119174  0.378797
2022-01-16 -1.235888  0.014193  1.512980 -0.256699
2022-01-17 -0.921822  0.079119  1.823622  0.892502
2022-01-18  0.760641 -0.120394  0.330095  0.424604
2022-01-19  0.846210 -1.198722 -0.256602 -0.631103
2022-01-20  2.537083 -0.203373 -1.071375  0.441425

In [71]:
df.sort_index(axis=1, ascending=True)

                   A         B         C         D
2022-01-01  1.042096 -0.101028 -0.579710 -0.984451
2022-01-02 -0.433050 -0.745328  0.521739  0.843312
2022-01-03 -0.734141  0.932339  0.914895 -1.288341
2022-01-04  1.049007  0.827878 -2.760588  0.368561
2022-01-05 -0.191731 -0.295541 -1.287527 -0.667248
2022-01-06 -0.663459  0.200306 -2.723196 -0.667091
2022-01-07  0.502609 -0.136859  1.298028 -1.546729
2022-01-08  0.835971 -0.296592  1.404408  1.528245
2022-01-09 -0.410971 -1.291437 -0.942427  0.854749
2022-01-10 -0.803374 -0.669092 -0.274283  0.398559
2022-01-11  1.475182  0.929793 -0.477563 -0.180176
2022-01-12  0.780286  0.472707  0.273360 -0.532276
2022-01-13 -0.353512  0.587906  0.747969  0.718716
2022-01-14 -0.136288  0.006912  0.221477  0.522136
2022-01-15  0.812108  2.197774  0.119174  0.378797
2022-01-16 -1.235888  0.014193  1.512980 -0.256699
2022-01-17 -0.921822  0.079119  1.823622  0.892502
2022-01-18  0.760641 -0.120394  0.330095  0.424604
2022-01-19  0.846210 -1.198722 -0.256602 -0.631103
2022-01-20  2.537083 -0.203373 -1.071375  0.441425

In [72]:
df.sort_values(by="U")

KeyError: 'U'

In [76]:
df["B"]

2022-01-01   -0.101028
2022-01-02   -0.745328
2022-01-03    0.932339
2022-01-04    0.827878
2022-01-05   -0.295541
2022-01-06    0.200306
2022-01-07   -0.136859
2022-01-08   -0.296592
2022-01-09   -1.291437
2022-01-10   -0.669092
2022-01-11    0.929793
2022-01-12    0.472707
2022-01-13    0.587906
2022-01-14    0.006912
2022-01-15    2.197774
2022-01-16    0.014193
2022-01-17    0.079119
2022-01-18   -0.120394
2022-01-19   -1.198722
2022-01-20   -0.203373
Freq: D, Name: B, dtype: float64

In [81]:
# row-wise selection
df[1:9]

                   A         B         C         D
2022-01-02 -0.433050 -0.745328  0.521739  0.843312
2022-01-03 -0.734141  0.932339  0.914895 -1.288341
2022-01-04  1.049007  0.827878 -2.760588  0.368561
2022-01-05 -0.191731 -0.295541 -1.287527 -0.667248
2022-01-06 -0.663459  0.200306 -2.723196 -0.667091
2022-01-07  0.502609 -0.136859  1.298028 -1.546729
2022-01-08  0.835971 -0.296592  1.404408  1.528245
2022-01-09 -0.410971 -1.291437 -0.942427  0.854749

In [82]:
df.loc[dates[0]]

A    1.042096
B   -0.101028
C   -0.579710
D   -0.984451
Name: 2022-01-01 00:00:00, dtype: float64

In [83]:
df.loc[: , ["A", "B"]]

                   A         B
2022-01-01  1.042096 -0.101028
2022-01-02 -0.433050 -0.745328
2022-01-03 -0.734141  0.932339
2022-01-04  1.049007  0.827878
2022-01-05 -0.191731 -0.295541
2022-01-06 -0.663459  0.200306
2022-01-07  0.502609 -0.136859
2022-01-08  0.835971 -0.296592
2022-01-09 -0.410971 -1.291437
2022-01-10 -0.803374 -0.669092
2022-01-11  1.475182  0.929793
2022-01-12  0.780286  0.472707
2022-01-13 -0.353512  0.587906
2022-01-14 -0.136288  0.006912
2022-01-15  0.812108  2.197774
2022-01-16 -1.235888  0.014193
2022-01-17 -0.921822  0.079119
2022-01-18  0.760641 -0.120394
2022-01-19  0.846210 -1.198722
2022-01-20  2.537083 -0.203373

In [89]:
df.loc["20220103" : "20220120", "A":"D"]

                   A         B         C         D
2022-01-03 -0.734141  0.932339  0.914895 -1.288341
2022-01-04  1.049007  0.827878 -2.760588  0.368561
2022-01-05 -0.191731 -0.295541 -1.287527 -0.667248
2022-01-06 -0.663459  0.200306 -2.723196 -0.667091
2022-01-07  0.502609 -0.136859  1.298028 -1.546729
2022-01-08  0.835971 -0.296592  1.404408  1.528245
2022-01-09 -0.410971 -1.291437 -0.942427  0.854749
2022-01-10 -0.803374 -0.669092 -0.274283  0.398559
2022-01-11  1.475182  0.929793 -0.477563 -0.180176
2022-01-12  0.780286  0.472707  0.273360 -0.532276
2022-01-13 -0.353512  0.587906  0.747969  0.718716
2022-01-14 -0.136288  0.006912  0.221477  0.522136
2022-01-15  0.812108  2.197774  0.119174  0.378797
2022-01-16 -1.235888  0.014193  1.512980 -0.256699
2022-01-17 -0.921822  0.079119  1.823622  0.892502
2022-01-18  0.760641 -0.120394  0.330095  0.424604
2022-01-19  0.846210 -1.198722 -0.256602 -0.631103
2022-01-20  2.537083 -0.203373 -1.071375  0.441425

In [90]:
df.at[dates[0], "A"]

1.0420962883837377